@tailwind base;
@tailwind components;
@tailwind utilities;

.unselectable {
  user-select: none;
  -webkit-user-select: none;
}

/* Screenshot Utilities */
body.screenshot-mode .device-header {
  visibility: hidden !important;
}

/* Background Patterns */
.bg-pattern-dots {
  background-image: radial-gradient(currentColor 1px, transparent 1px);
  background-size: 20px 20px;
}

.bg-pattern-grid {
  background-image: linear-gradient(currentColor 1px, transparent 1px),
    linear-gradient(90deg, currentColor 1px, transparent 1px);
  background-size: 20px 20px;
}

.bg-pattern-lines {
  background-image: repeating-linear-gradient(45deg, currentColor 0, currentColor 1px, transparent 0, transparent 50%);
  background-size: 10px 10px;
  opacity: 0.05;
}

/* Scrollbar Hiding */
.hidden-scrollbar::-webkit-scrollbar {
  display: none;
}

.hidden-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  overflow: hidden;
  background-color: #0f172a;
  /* slate-900 */
  color: white;
}